.iconMenu {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.iconMenu li {
  position: relative;
}

.numberOfProducts {
  width: 1.25rem;
  height: 1.25rem;

  background: var(--color-yellow);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.5rem;
  font-weight: 700;

  position: absolute;
  top: auto;
  left: auto;
  bottom: -0.5rem;
  right: -0.5rem;
}
